$backgorund-color: #FFB6C1;
$danger: #ff1493;

.btn .btn-danger {
    background-color :$danger;
}

#card:hover {
    background-color: $backgorund-color;
    transition: 0.5s;
}

#blog {
    background-color: $backgorund-color;
}

#pesan {
    background-color: $danger;
}

#gambar {
   filter: invert(1);
}

#link:hover {
    color: $danger;
    transition: 0.5s;
}