@use 'textaboutUs';
@import 'teksaboutUs';

// variable global
$background-color1: #ff1493;

// Kondisi 
$theme: 'default';
$themes: (
    'default',
    'summer',
    'winter'
);

#background {
    @if $theme =='default' {
        background-color: #ff1493;
    }

    @else if $theme =='summer' {
        background-color: #ffcc00;
    }

    @else if $theme =='winter' {
        background-color: #99ccff;
    }

    @else {
        background-color: $background-color1;
    }
}

// perulangan
@each $theme in $themes {
    .theme-#{$theme} {
        #background {
            background-color: get-background-color($theme);
        }

        #head {
            background-color: get-background-color($theme);
        }

        #head1 {
            color: get-background-color($theme);
        }

    }
}

// variable scope
#background {
    $background-color: #FFB6C1;
    background-color: $background-color;
}

// Kondisi atau Perulangan

// css body
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5 {
    text-align: center;
}

// Css Gambar
.img-fluid {
    transition: transform 0.3s ease-in-out;
    border-radius: 3rem 3rem 0 5rem;
}

.img-fluid:hover {
    transform: scale(1.1);
}

// fungsi
$first-width: 10px;
$second-width: 10px;

@function atur-width($n) {
    @return $n * $first-width +($n - 1) * $second-width;
}

// find us
#find {
    margin-top: 100px;
}